<div class="filter-options">
    <h3>Filters</h3>
    <div class="year-filter">
        <p>Launch Year</p>
        <div class="filter-year">
            <span *ngFor="let options of filterOptions" class="filter-chip">
                {{options.launch_year}}
            </span>
        </div>
    </div>

    <div class="launch-filter">
        <p>Successful Launch</p>
        <span class="filter-chip">True</span>
        <span class="filter-chip">False</span>
    </div>

    <div class="landing-filter">
        <p>Successful Landing</p>
        <span class="filter-chip">True</span>
        <span class="filter-chip">False</span>
    </div>
</div>