<div class="programs">
    <div *ngFor="let program of programs" class="program-card">
        <img [src]="program.links.mission_patch" alt="" class="program-img" style="width:100%">
        <div class="program-meta-data">
            <h4><b>{{program.rocket.rocket_name}}</b></h4>
            <ul>
                <li><b>Mission IDs:</b> </li>
                <li><b>Launch Year:</b> {{program.launch_year}}</li>
                <li><b>Successful Launch:</b> {{program.launch_success}}</li>
                <li><b>Successful Landing:</b> </li>
            </ul>
        </div>
    </div>
</div>