* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    
}

.filter-main, .programs-main {
    display: inline-flex;
}

.filter-main {
    width: 15%;
}

.programs-main {
    width: 85%;
}